body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.start-page {
  background-color: #74659c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body.game-page {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}

