
#start-header{
    text-align: center;
    color: white;
    font-size: 60px;
}
#start-info{
    color: white;
    text-align: center;
    font-style: italic;
}
.startpage-button{
    text-align: center;
    border-radius: 12px;
    font-family: Segoe UI;
    padding: 5px;
    margin: 5px;
    width: 110px;
    background-color: white;
}
#buttons-container{
    display: flex;
    justify-content: center;
}
#start-container{
    display: grid;
}
.startpage-button:hover{
    cursor: pointer;
    background-color: #dcd0ff;
}
.startpage-button:active{
    cursor: pointer;
    background-color: #c7bce8;
}
